.preview {
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.previewBg {
    height: 0;
    width: 100%;
}

.previewBg div {
    height: 1080px;
    width: 100%;
    filter: brightness(40%);
    background-size: cover;
    background-position: 70%;
    background-repeat: no-repeat;
    background-image: url('../assets/einstein.svg');
    animation: bgGettingDark 1s ease-in-out;
}

@keyframes bgGettingDark {
    0% {
        filter: brightness(100%);
    }

    60% {
        filter: brightness(100%);
    }

    100% {
        filter: brightness(40%);
    }
}

.preview {
    height: 1080px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    animation: openPreview 0.5s ease;
}

@keyframes openPreview {
    0% {
        opacity: 0;
        transform: translateX(-30vw);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (min-width: 1500px) {
    .mainText img {
        margin-top: 16vh;
        margin-left: 10vw;
        width: 60vh;
    }

    .preview {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media screen and (min-width: 800px) and (max-width: 1500px) {
    .mainText img {
        margin-top: 16vh;
        margin-left: 7vw;
        width: 30vw;
    }

    .preview {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media screen and (max-width: 800px) {
    .mainText img {
        margin-top: 5vh;
        max-width: 80vw;
    }

    .preview {
        align-items: center;
    }

    .previewContent {
        margin-top: 10vh;
        scale: 0.8;
    }
}

.mainText {
    opacity: 0.8;
    scale: 1;
    animation: openMainText 1s ease;
    transition: scale ease 0.5s, opacity ease 0.5s;
}

.mainText img {
    pointer-events: none;
}

.mainText:hover {
    opacity: 1;
    scale: 1.1;
    transition: scale ease 0.5s, opacity ease 0.5s;
}

@keyframes openMainText {
    0% {
        opacity: 0;
        transform: translateY(-20vh);
    }

    60% {
        opacity: 0;
        transform: translateY(-20vh);
    }

    100% {
        opacity: 0.7;
        transform: translateY(0);
    }
}
