.row {
    width: 100%;
    min-width: fit-content;
    display: flex;
    flex-direction: row;
    background-color: #d9d9d9;
}

.row:first-child {
    height: 30px;
}

.row:first-child:hover {
    filter: none;
}

.row:first-child .index {
    cursor: default;
}

.row:last-child {
    height: 30px;
    cursor: default;
}

.row:last-child:hover {
    filter: none;
}

.row:last-child .index {
    cursor: default;
}

.row:hover {
    filter: brightness(110%);
}

.row:active {
    filter: brightness(120%);
}

.index {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    width: 100px;
    color: #9e9e9e;
    background-color: #ededed;
    cursor: pointer;
    height: 100%;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    height: 40px;
    width: auto;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    color: #645e5e;
    border-width: 0;
    cursor: text;
}
